# .gitignore

workflow/
.venv
*.pyc
*.env
__pycache__/
.vscode/
.DS_Store
vscode-cputh/*.vsix

# personal scripts
scripts/

# `boot/` is not `.gitignored`, because it is needed for bootstrapping
# but `dist/` is.
dist/
